<div class="row">
  <div class="col s12 center-align">
    <h2>Sign up</h2>
    <div class="row">
      <div class="col s6 offset-s3 red-text">
        <%= devise_error_messages! %>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class: 'col s6 offset-s3'}) do |f| %>
      <div class="row">
        <div class="input-field col s12">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'validate' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.label :password, 'Password (8 chars minimum)' %>
          <%= f.password_field :password, autocomplete: "off", class: 'validate' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'validate' %>
        </div>
      </div>
      <div class="row">
        <div class="actions col s6 offset-s3 center-align">
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="mdi-content-send right"></i>
          </button>
          <br>
          <p class="center-align"><%= render "devise/shared/links" %></p>  
        </div>
      </div>
    <% end %>
  </div>


