<!DOCTYPE html>
<html>
<head>
  <title>Bloccitoff</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="teal lighten-1">
    <div class="nav-wrapper">
      <% if current_user %>
        <%= link_to "BloccitOff", user_path(current_user), class: 'brand-logo' %>
      <% else %>
        <%= link_to "BloccitOff", root_path, class: 'brand-logo' %>
      <% end %>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="right hide-on-med-and-down">
          <% if current_user %>
            <li><%= link_to "Items", user_path(current_user) %></li>
            <li><%= link_to "Settings", edit_user_registration_path %>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
        </ul>
        <ul id="mobile-demo" class="side-nav">
          <% if current_user %>
            <li><%= link_to "Items", user_path(current_user) %></li>
            <li><%= link_to "Settings", edit_user_registration_path %>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
        </ul>
    </div>
  </nav>
  <% if flash[:notice] %>
    <div class="light-green accent-1 center-align" id="success">
      <span><%= flash[:notice] %><i class="close tiny mdi-content-clear right" id="close"></i></span>
    </div>
  <% elsif flash[:error] %>
    <div class="red lighten-3 center-align" id="error">
      <span><%= flash[:error] %><i class="close tiny mdi-content-clear right" id="close"></i></span>
    </div>
  <% elsif flash[:alert] %>
    <div class="yellow accent-4 center-align" id="alert">
      <span><%= flash[:alert] %><i class="close tiny mdi-content-clear right" id="close"></i></span>
    </div>
  <% end %>
  
  <% if !current_user %>
    <div class="row">
      <div class="intro purple darken-2 z-depth-1 col s12">
        <h1 class="white-text hide-on-small-only">BloccitOff</h1>
        <h2 class="white-text hide-on-med-and-up">BloccitOff</h2>
        <h5 class="white-text">A self destruct to-do list to keep you focused on the things that really matter!</h5>
        <%= link_to "Login", new_user_session_path, class: "waves-effect waves-light btn" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "waves-effect waves-light btn" %>
      </div>
    </div>
  <% end %>
  

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
