<!DOCTYPE html>
<html>
<head>
  <title>Bloccitoff</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="teal lighten-1">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">BloccitOff</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Login</a></li>
        <li><a href="#">Sign In</a></li>
      </ul>
    </div>
  </nav>
  
  <% if flash[:notice] %>
    <div class="light-green accent-3">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:error] %>
    <div class="red darken-4">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      <%= flash[:error] %>
    </div>
  <% elsif flash[:alert] %>
    <div class="yellow accent-4">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      <%= flash[:alert] %>
    </div>
  <% end %>

  <div class="intro purple darken-2 z-depth-1">
    <h1 class="white-text">BloccitOff</h1>
    <h5 class="white-text">A self destruct to-do list to keep you focused on the things that really matter!</h5>
    <a class="waves-effect waves-light btn">Login</a>
    <a class="waves-effect waves-light btn">Sign In</a>
  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
